<div
    *ngIf="{
        isLoading: isLoading$ | async,
        results: results$ | async,
        selectedGame: selectedGame$ | async
    } as obs"
    class="py-4"
>
    <div *ngIf="!obs.selectedGame?.name; else gameOverview">
        <div *ngIf="!obs.isLoading; else loadingResults" class="flex flex-column gap-3">
            <div
                *ngFor="let game of obs.results"
                class="flex align-items-center gap-2 border-round border-0 border-1 surface-100 hover:border-2 hover:border-400 cursor-pointer"
                (click)="openGameOverview(game)"
            >
                <img [src]="game.image" [alt]="game.name" width="250"/>
                <span>{{ game.name }}</span>
                
            </div>
        </div>
    
        <ng-template #loadingResults>
            <p-skeleton height="7rem" *ngFor="let load of [1,2,3,4,5,6]" styleClass="mb-3"></p-skeleton>
        </ng-template>
    </div>

    <ng-template #gameOverview>
        <app-game-details
            [game]="obs.selectedGame"
            (back)="resetSelectedGame()"
        ></app-game-details>
    </ng-template>

</div>