<span class="p-input-icon-right mb-4">
    <input
        [formControl]="searchControl"
        type="text"
        placeholder="Title of a game..."
        pInputText
        (keyup.enter)="searchGame()"
    />
    <i class="pi pi-search cursor-pointer" (click)="searchGame()"></i>
</span>
<div
    *ngIf="{
        error: error$ | async
    } as obs"
>
    <app-game-list
        [games]="results$ | async"
        [isLoading]="isLoading$ | async"
        (selectGame)="openGameOverview($event)"
        (favourize)="onFavourize($event)"
    ></app-game-list>
</div>