<span class="p-input-icon-left mb-4">
    <i class="pi pi-search"></i>
    <input
        [formControl]="searchControl"
        type="text"
        placeholder="Title of a game..."
        pInputText
    />
</span>
<div
    *ngIf="{
        isLoading: isLoading$ | async,
        results: results$ | async,
        selectedGame: selectedGame$ | async,
        error: error$ | async
    } as obs"
>
    <app-game-list
        *ngIf="obs.results?.length !== 0"
        [games]="obs.results"
        [isLoading]="obs.isLoading"
        (selectGame)="openGameOverview($event, obs.selectedGame?.name)"
        (favourize)="onFavourize($event)"
    ></app-game-list>
</div>