<div
    *ngIf="{
        game: selectedGame$ | async,
        error: error$ | async
    } as obs"
    class="py-2 flex flex-column gap-3"
>
    <div>
        <button pButton class="flex gap-2 shadow-4" (click)="onBack()">
            <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
            <span>Back</span>
        </button>
    </div>

    <div class="border-round surface-200 shadow-6">
        <div class="relative w-full">
            <img class="w-full" [src]="obs.game?.image" [alt]="obs.game?.name"/>
            <app-favourite-icon
                class="p-4 absolute top-0 right-0"
                size="3rem"
                [isFavourite]="obs.game?.isFavourite"
                (favourize)="onFavourize(obs.game)"
            ></app-favourite-icon>
        </div>

        <div class="px-6 pb-8 flex flex-column gap-4">
            <div class="flex align-items-center gap-2">
                <h1>{{ obs.game?.name }}</h1>
                <app-favourite-icon
                    size="2rem"
                    [isFavourite]="obs.game?.isFavourite"
                    (favourize)="onFavourize(obs.game)"
                ></app-favourite-icon>
            </div>

            <div class="flex gap-4">
                <div class="flex flex-column gap-2">
                    <p-tabView [(activeIndex)]="activeIndex" styleClass="tabview flex flex-column">
                        <!-- Steam Panel -->
                        <p-tabPanel *ngIf="obs.game?.steam">
                            <ng-template pTemplate="header">
                                <div class="flex gap-2 align-items-center">
                                    <img src="/assets/steam.png" alt="steam icon" width="25">
                                    <span>Steam</span>
                                </div>
                            </ng-template>
                            <app-game-provider-details
                                [id]="obs.game?.steam?.id"
                                [link]="obs.game?.steam?.link"
                                [price]="obs.game?.steam?.price"
                            ></app-game-provider-details>
                        </p-tabPanel>
                
                        <!-- GoG Panel -->
                        <p-tabPanel *ngIf="obs.game?.gog">
                            <ng-template pTemplate="header">
                                <div class="flex gap-2 align-items-center">
                                    <img src="/assets/gog.png" alt="gog icon" width="25">
                                    <span>GoG</span>
                                </div>
                            </ng-template>
                            <app-game-provider-details
                                [id]="obs.game?.gog?.id"
                                [link]="obs.game?.gog?.link"
                                [price]="obs.game?.gog?.price"
                            ></app-game-provider-details>
                        </p-tabPanel>
                    </p-tabView>
                
                    <app-game-os-supported
                        [windows]="obs.game?.platforms?.windows"
                        [mac]="obs.game?.platforms?.mac"
                        [linux]="obs.game?.platforms?.linux"
                    ></app-game-os-supported>
                </div>

                <div class="flex flex-column align-items-center">
                    <span class="text-justify" [innerHTML]="obs.game?.aboutTheGame"></span>
                </div>
            </div>
        </div>
    </div>
</div>