name: Push Staging

on:
  push:
    branches:
      - release/**

jobs:
  push-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from branch name
        run: echo "IMAGE_VERSION=${GITHUB_REF#refs/heads/release/}" >> $GITHUB_ENV
  
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./.ops/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fe-angular-game-price-comparator-staging:${{ env.IMAGE_VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/fe-angular-game-price-comparator-staging:latest
    environment:
      name: staging